<div class="profile-container">
    <h1>Editar Perfil</h1>
    <div class="profile-content">
      <!-- Formulario para editar el perfil -->
      <form (ngSubmit)="saveProfile()" class="edit-form">
        <div>
          <label for="realName">Nombre Completo:</label>
          <input id="realName" [(ngModel)]="userProfile.realName" name="realName" required />
        </div>
        <div>
          <label for="email">Correo Electrónico:</label>
          <input id="email" [(ngModel)]="userProfile.email" name="email" type="email" required />
        </div>
        <div>
          <label for="phone">Teléfono:</label>
          <input id="phone" [(ngModel)]="userProfile.phone" name="phone" type="tel" required />
        </div>
        <div>
            <label for="address">Dirección:</label>
            <input id="address" [(ngModel)]="userProfile.address" name="address" required />
        </div>
        <button type="submit">Guardar Cambios</button>
      </form>
  
      <!-- Sección para mostrar los datos actuales -->
      <div class="current-profile">
        <h2>Datos Actuales</h2>
        <p><strong>Nombre Completo:</strong> {{ userProfile.realName }}</p>
        <p><strong>Correo Electrónico:</strong> {{ userProfile.email }}</p>
        <p><strong>Teléfono:</strong> {{ userProfile.phone }}</p>
        <p><strong>Dirección de correo:</strong> {{ userProfile.address }}</p>
      </div>
    </div>
  </div>