.transactions-container {
  text-align: center;
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  width: 100%;
}

.transactions-container h2 {
  margin-bottom: 10px;
}

.transactions-container ul {
  list-style-type: none;
  padding: 0;
}

.transactions-container li {
  text-align: center;
  margin-bottom: 15px;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.transactions-container li:last-child {
  border-bottom: none;
}
.balance-container {
  text-align: center;
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  justify-content: center;
}
.d-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards-container {
  text-align: center;
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.row {
  margin: 0; /* Eliminar márgenes adicionales entre columnas */
}

.col-md-8,
.col-md-4 {
  padding: 0; /* Eliminar padding entre columnas */
}
.transactions-container h2 {
  margin-bottom: 10px;
}

.transactions-list {
  list-style: none;
  padding: 0;
}

.transaction-item {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #fff;
}
.transaction-item h5 {
  margin: 0;
  color: #007bff;
}

.transaction-item p {
  margin: 5px 0;
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #e9ecef;
}