<div class="main-container">
  <h1>Página Principal</h1>
  <div class="button-container">
    <button routerLink="/edit-profile" class="main-button">Editar Perfil</button>
    <button routerLink="/add-card" class="main-button">Vincular Tarjeta de Crédito</button>
    <button routerLink="/ver-tarjetas" class="main-button">Ver Tarjetas de Crédito</button>
    <button routerLink="/top-up" class="main-button">Añadir saldo</button>
    <button routerLink="/friends" class="main-button">Lista de Amigos</button>
    <button routerLink="/disable-users" class="main-button" *ngIf="isAdmin">Desactivar Usuarios</button>
  </div>

  <div class="balance-container">
    <h2>Saldo Actual</h2>
    <p *ngIf="balance !== null">{{ balance | currency }}</p>
    <p *ngIf="balance === null">Cargando saldo...</p>
  </div>

  <div class="transactions-container">
    <h2>Últimas Transacciones</h2>
    <ul>
      <li *ngFor="let transaction of transactions">
        <p><strong>Tipo:</strong> 
          {{ transaction.type === 'transfer' ? 'Transferencia Enviada' :
             transaction.type === 'received' ? 'Transferencia Recibida' : 
             transaction.type === 'top-up' ? 'Recarga' : 'Otro' }}
        </p>
        <p><strong>Cantidad:</strong> {{ transaction.amount | currency }}</p>
        <p><strong>Fecha:</strong> {{ transaction.date | date:'short' }}</p>
      </li>
    </ul>
  </div>
</div>