<div class="main-container">
  <h1>Página Principal</h1>
  <div class="button-container">
    <button routerLink="/edit-profile" class="main-button">Editar Perfil</button>
    <button routerLink="/add-card" class="main-button">Vincular Tarjeta de Crédito</button>
    <button routerLink="/ver-tarjetas" class="main-button">Ver Tarjetas de Crédito</button>
    <button routerLink="/top-up" class="main-button">Añadir saldo</button>
    <button routerLink="/friends" class="main-button">Lista de Amigos</button>
  </div>

  <div class="transactions-container">
    <h2>Últimas Transacciones</h2>
    <ul>
      <li *ngFor="let transaction of transactions">
        <p><strong>Tipo:</strong> {{ transaction.type }}</p>
        <p><strong>Monto:</strong> {{ transaction.amount | currency }}</p>
        <p><strong>Fecha:</strong> {{ transaction.date | date:'short' }}</p>
      </li>
    </ul>
  </div>
</div>