/* Cambiar el color de los enlaces a negro */
.nav-link {
  color: black !important; /* Asegura que el color negro se aplique */
  font-size: 1rem;
  margin-right: 15px;
}

/* Cambiar el color al pasar el mouse */
.nav-link:hover {
  color: #007bff !important; /* Cambia a azul al pasar el mouse */
}

/* Estilo para el texto de la marca (EasyPay) */
.navbar-brand {
  color: black !important; /* Asegura que el texto de la marca sea negro */
  font-weight: bold;
  font-size: 1.5rem;
}

/* Opcional: Ajustar el color del botón de hamburguesa */
.navbar-toggler-icon {
  background-color: black; /* Cambia el color del ícono de hamburguesa */
}
/* Cambiar el color del ícono de usuario */
.nav-link i {
  color: black; /* Cambia el color a negro */
}

/* Cambiar el color al pasar el mouse */
.nav-link:hover i {
  color: #007bff; /* Cambia el color a azul al pasar el mouse */
}