.friends-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
  }
  
  .add-friend-form {
    margin-bottom: 20px;
  }
  
  .add-friend-form input {
    margin-right: 10px;
  }
  
  .friends-container ul {
    list-style-type: none;
    padding: 0;
  }
  
  .friends-container li {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
  }
  
  .transfer-form {
    margin-top: 20px;
  }

  .money-requests ul {
    list-style: none;
    padding: 0;
  }
  
  .money-requests li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  .main-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .button-container {
    flex: 1;
    margin-right: 20px;
  }
  
  .balance-container {
    flex: 0.3;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    text-align: center;
  }
  
  .transactions-container {
    flex: 1;
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }